 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Lucas Barbosa reside em Piracicaba e é formado em Sistemas de Informação pela UNIMEP(Universidade Metodista de Piracicaba), onde desenvolve projetos na área de UI/UX Design e Programação Web.</p>
                </div>
            </div>
        </div>
    </section>
